/* h1 {
  background-color: #FFF8BC;
  color: grey;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 4.5rem;
  text-align: center;
} */

body {
  font-family: 'PT Serif', serif;
  background-image: url("images/photo3.jpg");
}

li {
  list-style: none;
  font-size: 25px;
  margin: 10px 0;
}

.container {
  margin: 50px 0;
  color: white;
  display: inline-block;
  width: 100%;
}

.divForEachNewRestaurant {
  text-align: center;
  width: 270px;
  height:auto;
  min-height: 350px;
  background-color: white;
  color: black;
  float: left;
  margin-bottom: 30px;
  margin-right: 30px;
  position: relative;
  left: 450px;
  bottom: 170px;
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-all;
}

.openNewRestaurantBtn {
  background: #121212;
  background-image: -webkit-linear-gradient(top, #121212, #5E6064);
  background-image: -moz-linear-gradient(top, #121212, #5E6064);
  background-image: -ms-linear-gradient(top, #121212, #5E6064);
  background-image: -o-linear-gradient(top, #121212, #5E6064);
  background-image: -webkit-gradient(to bottom, #121212, #5E6064);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #FFFFFF;
  font-family: Arial;
  font-size: 25px;
  font-weight: 300;
  margin-left: 13px;
  padding: 0 7px 0 7px;
  -webkit-box-shadow: 1px 1px 20px 0 #000000;
  -moz-box-shadow: 1px 1px 20px 0 #000000;
  box-shadow: 1px 1px 20px 0 #000000;
  text-shadow: 1px 1px 20px #000000;
  border: solid #FFFFFF 1px;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  float: right;
  bottom: 42px;
  right: 53px;
  position: relative
}

.openNewRestaurantBtn:hover {
  border: solid #FFFFFF 1px;
  background: #858585;
  background-image: -webkit-linear-gradient(top, #858585, #BCBFC3);
  background-image: -moz-linear-gradient(top, #858585, #BCBFC3);
  background-image: -ms-linear-gradient(top, #858585, #BCBFC3);
  background-image: -o-linear-gradient(top, #858585, #BCBFC3);
  background-image: -webkit-gradient(to bottom, #858585, #BCBFC3);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-decoration: none;
}

.headingOfNewDiv {
  color: black;
  font-size: 2rem;
}
.addNewOrderBtn {
  margin-left: 10px;
  background: #121212;
  background-image: -webkit-linear-gradient(top, #121212, #5E6064);
  background-image: -moz-linear-gradient(top, #121212, #5E6064);
  background-image: -ms-linear-gradient(top, #121212, #5E6064);
  background-image: -o-linear-gradient(top, #121212, #5E6064);
  background-image: -webkit-gradient(to bottom, #121212, #5E6064);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #FFFFFF;
  font-family: Arial;
  font-size: 25px;
  font-weight: 300;
  padding: 0 7px 0 7px;
  -webkit-box-shadow: 1px 1px 10px 0 #000000;
  -moz-box-shadow: 1px 1px 10px 0 #000000;
  box-shadow: 1px 1px 10px 0 #000000;
  text-shadow: 1px 1px 10px #000000;
  border: solid #FFFFFF 1px;
  text-decoration: none;
  cursor: pointer;
}
.addNewOrderBtn:hover {
  border: solid #FFFFFF 1px;
  background: #858585;
  background-image: -webkit-linear-gradient(top, #858585, #BCBFC3);
  background-image: -moz-linear-gradient(top, #858585, #BCBFC3);
  background-image: -ms-linear-gradient(top, #858585, #BCBFC3);
  background-image: -o-linear-gradient(top, #858585, #BCBFC3);
  background-image: -webkit-gradient(to bottom, #858585, #BCBFC3);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-decoration: none;
}

.orderListItem{
  text-align: left;
  padding-left: 10px;

}

#add-restaurant-btn {
  background: none;
  color: white;
  font-size: 35px;
  font-weight: bolder;
  cursor: pointer;
  border-radius: 8px;
}

#restaurant-input {
  width: 230px;
  height: 30px
}

#list {
  width: 30%;
  position: absolute;
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-word;
}
