body {
  font-family: 'PT Serif', serif;
  background-image: url("images/photo3.jpg");
  text-align: center;
}
h1 {
  margin-top: 20px;
  margin-bottom: 30px;
}
label{
  font-size: 20px;
  position: relative;
  float: left;
  left: 30px;

}

.registration{
  height: 430px;
  width: 400px;
  background-color: white;
  display: inline-block;
  margin-top: 120px;
}
.username {
  margin-top: 10px;
  margin-bottom: 5px;
     padding: 9px;
     font-size: 14px;
     border-width: 1px;
     border-color: #CCCCCC;
     background-color: #FFFFFF;
     color: #000000;
     border-style: solid;
     border-radius: 6px;
     width: 350px;
}
.password {
  margin-top: 10px;
  padding: 9px;
  font-size: 14px;
  border-width: 1px;
  border-color: #CCCCCC;
  background-color: #FFFFFF;
  color: #000000;
  border-style: solid;
  border-radius: 6px;
  width: 350px;

}
#signUpBtn {
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   height: 50px;
   line-height: 50px;
   color: #FFFFFF;
   font-family: Arial;
   width: 350px;
   font-size: 25px;
   font-weight: 300;
   background-color: #0078FF;
   border: solid #000000 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin-top: 50px;
}

#signUpBtn:hover {
   background: #0D65C7;
   border: solid #000000 1px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   text-decoration: none;
}
#signUpBtn:disabled {
  background: #ccc;
}
